@import "tailwindcss";

@layer utilities {
  .bg-theme-sidebar {
    background: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  }
  .bg-theme-primary {
    background-color: #4e73df;
  }
  .text-theme-primary {
    color: #4e73df;
  }
  .border-theme-primary {
    border-color: #4e73df;
  }
}
